@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-orange: #FA4A0C;
  --color-brand-dark: #03081F;
  --color-brand-gray: #252525;
  --color-brand-green: #03A84E; 
  /* الخطوط المستخدمة في فيجما */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}


/* تنسيق عام للموقع بناءً على الديزاين */
body {
  background-color: var(--color-bg-light); /* أو خليه var(--color-bg-dark) لو شغالين ستايل أسود */
  color: var(--color-brand-dark);
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}